{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt error necessitatibus explicabo ipsum eligendi quas accusamus quod, voluptatem itaque quos possimus id, quisquam expedita molestiae dolores commodi dolore iusto libero. Dicta repudiandae at dolorum corrupti ducimus? Maiores eum quis quam nulla repellat quibusdam fugiat rem magnam architecto tenetur ea, error vero ad quae fuga veritatis optio dicta nihil accusantium? Sint vero provident, officiis, eligendi veritatis accusamus reprehenderit fugiat quasi odit exercitationem error assumenda. Earum adipisci natus eveniet incidunt ea, ullam voluptatum ab beatae minus similique libero voluptates sed quasi qui maxime nihil totam ut nemo sapiente, eligendi vel? Sunt, eligendi!</p>
        
        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
                    Signin
            </a>
            <a class="btn btn-secondary" href="/signup">
                    SignUp
            </a>
        </div>
        
    </section>
</main>

{% endblock %}